/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-light.CodeMirror {
   background: #ffffff;
   color: #202020;
   font-size: 12px;
   line-height: 1.3em;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-variant-numeric: tabular-nums;
}
.cm-s-base16-light div.CodeMirror-selected { background: rgb(247, 247, 247); }
.cm-s-base16-light .CodeMirror-line::selection, .cm-s-base16-light .CodeMirror-line > span::selection, .cm-s-base16-light .CodeMirror-line > span > span::selection { background: rgb(247, 247, 247); }
.cm-s-base16-light .CodeMirror-line::-moz-selection, .cm-s-base16-light .CodeMirror-line > span::-moz-selection, .cm-s-base16-light .CodeMirror-line > span > span::-moz-selection { background: rgb(247, 247, 247); }
.cm-s-base16-light .CodeMirror-gutters { background: #ffffff; border: 0; }
.cm-s-base16-light .CodeMirror-guttermarker { color: #ac4142; }
.cm-s-base16-light .CodeMirror-guttermarker-subtle { color: #b0b0b0; }
.cm-s-base16-light .CodeMirror-linenumber { color: #b0b0b0; margin-left: 2px;}
.cm-s-base16-light .CodeMirror-cursor { border-left: 1px solid #505050; }

.cm-s-base16-light span.cm-comment { color: #8f5536; }
.cm-s-base16-light span.cm-atom { color: #af6da1; }
.cm-s-base16-light span.cm-number { color: #af6da1; }

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute { color: #1565c0; }
.cm-s-base16-light span.cm-keyword { color: #ac4142; }
.cm-s-base16-light span.cm-string { color: #29c942; }

.cm-s-base16-light span.cm-variable { color: #1565c0; }
.cm-s-base16-light span.cm-variable-2 { color: #6a9fb5; }
.cm-s-base16-light span.cm-def { color: #d28445; }
.cm-s-base16-light span.cm-bracket { color: #202020; }
.cm-s-base16-light span.cm-tag { color: #ac4142; }
.cm-s-base16-light span.cm-link { color: #af6da1; }
.cm-s-base16-light span.cm-error { background: #ac4142; color: #505050; }

.cm-s-base16-light .CodeMirror-activeline-background { background: rgb(247, 247, 247); }
.cm-s-base16-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.cm-s-base16-light ::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(1,1,1,0.1);
}

.cm-s-base16-light ::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 12px rgba(1, 1, 1, 0.2) inset;
}

.cm-s-base16-light .CodeMirror-hscrollbar {
    height: 10px;
}
