/* light styling of the editor */
div.jsoneditor,
div.jsoneditor-menu {
    border-color: #f4f4f4;
}
div.jsoneditor-menu {
    background-color: #f4f4f4;
}
div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
    background-color: #ffffff;
    color: #000000;
}
div.jsoneditor-field,
div.jsoneditor-value {
    color: #000000;
}
table.jsoneditor-search div.jsoneditor-frame {
    background: #ffffff;
}

table.jsoneditor-search input {
    color: #000000;
}

tr.jsoneditor-highlight,
tr.jsoneditor-selected {
    background-color: #ff0000;
}

div.jsoneditor-field[contenteditable=true]:focus,
div.jsoneditor-field[contenteditable=true]:hover,
div.jsoneditor-value[contenteditable=true]:focus,
div.jsoneditor-value[contenteditable=true]:hover,
div.jsoneditor-field.jsoneditor-highlight,
div.jsoneditor-value.jsoneditor-highlight {
    background-color: #ff0000;
    border-color: #ff0000;
}

div.jsoneditor-field.highlight-active,
div.jsoneditor-field.highlight-active:focus,
div.jsoneditor-field.highlight-active:hover,
div.jsoneditor-value.highlight-active,
div.jsoneditor-value.highlight-active:focus,
div.jsoneditor-value.highlight-active:hover {
    background-color: #b1b1b1;
    border-color: #b1b1b1;
}

div.jsoneditor-tree button:focus {
    background-color: #ffffff;
}

/* coloring of JSON in tree mode */
div.jsoneditor-readonly {
    color: #000000;
}
div.jsoneditor td.jsoneditor-separator {
    color: #808080;
}
div.jsoneditor-value.jsoneditor-string {
    color: #008000;
}
div.jsoneditor-value.jsoneditor-object,
div.jsoneditor-value.jsoneditor-array {
    color: #808080;
}
div.jsoneditor-value.jsoneditor-number {
    color: #ee422e;
}
div.jsoneditor-value.jsoneditor-boolean {
    color: #ff8c00;
}
div.jsoneditor-value.jsoneditor-null {
    color: #004ED0;
}
div.jsoneditor-value.jsoneditor-invalid {
    color: #000000;
}


div.jsoneditor-tree button.jsoneditor-collapsed {
    background-position: 0 -48px;
    fill: red;
}

div.jsoneditor-tree button.jsoneditor-expanded {
    background-position: 0 -72px;
    fill: red;
}
